{% extends theme('default/base.html') %}
{% block title %}排行榜{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
	$('.nav:eq(0)').find('li:eq(2)').addClass('active');

	$('.show-desc-link').toggle(function() {
		$(this).parents('li').find('.well').show();
		$(this).html('隐藏描述');
	}, function() {
		$(this).parents('li').find('.well').hide();
		$(this).html('显示描述');
	});
})
</script>
{% endblock %}
{% block content %}
<table class="table">
	<thead>
		<tr><td>浏览次数最多代码</td></tr>
	</thead>
	<tbody>
	{% for paste in g.top_view_pastes %}
		<tr><td>
		{% include theme('default/items/_paste_item.html') %}
		</td></tr>
	{% endfor %}
	</tbody>
</table>
<table class="table">
	<thead>
		<tr><td>评论次数最多代码</td></tr>
	</thead>
	<tbody>
	{% for paste in g.top_comment_pastes %}
		<tr><td>
		{% include theme('default/items/_paste_item.html') %}
		</td></tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block sidebar %}
	{% include theme('default/_sidebar.html') %}
{% endblock %}
