{% extends theme('default/base.html') %}
{% block title %}{{ _('rank') }}{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
	$('.nav:eq(0)').find('li:eq(2)').addClass('active');

	$('.show-desc-link').toggle(function() {
		$(this).parents('li').find('.well').show();
		$(this).html('隐藏描述');
	}, function() {
		$(this).parents('li').find('.well').hide();
		$(this).html('显示描述');
	});
})
</script>
{% endblock %}
{% block content %}
<h4>{{ _('most_visited_pastes') }}</h4>
{% for paste in g.top_view_pastes %}
	{% include theme('default/items/_paste_item.html') %}
{% endfor %}

<h4>{{ _('most_commented_pastes') }}</h4>
{% for paste in g.top_comment_pastes %}
	{% include theme('default/items/_paste_item.html') %}
{% endfor %}
{% endblock %}
{% block sidebar %}
	{% include theme('default/_sidebar.html') %}
{% endblock %}
