<div class="lh24 clearfix mb5">
	<span class="lf">
		<a class="mr10 fs14 fwb" href="{{ url_for('pasteview.view', paste_id=paste.id) }}" title="{{ paste.title }}">{{ paste.get_sliced_title(25) }}</a>
		<span class="clc mr5">by</span>
		<a href="{{ paste.user.url }}" class="carte fwb" title="{{ paste.user.nickname }}" data-content="
			<div class='lf paste_user_icon'><img src='{{ paste.user.get_avatar_url(48) }}' alt='{{ paste.user.nickname }}' /></div>
			<div class='rt paste_user_cont'>
			<p class='lh22'>签名：{{ paste.user.info.motoo | empty(text = "这家伙没有签名") }}</p>
			<p class='lh22'>介绍：{{ paste.user.info.introduction | empty(text = "这家伙很懒，什么都没写") }}</p>
			<p class='lh22'>最近登录时间：{{ paste.user.created_time | dateformat }}</p></div><div class='clear'></div>">{{ paste.user.nickname }}</a>
		<span class="clc">{{ paste.created_time | time_passed }}</span>
		<span class="clc ml20">{{ paste.comments | length }}回复/{{ paste.view_num }}阅读</span>
	</span>
	<span class="rt clc">
		<a href="javascript:void(0);" title="取消关注" class="lf clc paste-follow-link follow" data-id="{{ paste.id }}" {% if not paste.is_user_followed %}style="display:none"{% endif %}>
			<span></span>取消关注
		</a>
		<a href="javascript:void(0);" title="关注" class="lf clc paste-follow-link follow" data-id="{{ paste.id }}" {% if paste.is_user_followed %}style="display:none"{% endif %}>
			<span></span>关注
		</a>
		<a href="javascript:void(0);" title="取消收藏" class="lf clc paste-favorite-link favorite" data-id="{{ paste.id }}" {% if not paste.is_user_favorited %}style="display:none"{% endif %}>
			<span></span>取消收藏
		</a>
		<a href="javascript:void(0);" title="收藏" class="lf clc paste-favorite-link favorite" data-id="{{ paste.id }}" {% if paste.is_user_favorited %}style="display:none"{% endif %}>
			<span></span>收藏
		</a>
	</span>
</div>
<div class="clearfix pt10">
	<span class="lf tag-list-block">
		{% for tag in paste.tags %}
			{% include theme('default/items/_tag.html') %}
		{% endfor %}
	</span>
	{% if paste.description %}
		<a href="#" class="rt show-desc-link">
			显示描述
		</a>
	{% else %}
		<span class="no_desc">没有描述</span>
	{% endif %}
</div>
<div class="well mt10">{{ paste.description }}</div>
