<div class="row pt5 pb5">
	<div class="col-md-3 pr0">
		<img src="{{ user.get_avatar_url() }}" class="img-thumbnail img-responsive" />
	</div>
	<div class="col-md-9">
		<div class="pull-left">
			<p>
				<a href="{{ user.url }}" class="" title="{{ user.nickname }}" data-content="
				<p class='lh22'>签名：{{ user.info.motoo | empty(text = "这家伙没有签名") }}</p>
				<p class='lh22'>介绍：{{ user.info.introduction | empty(text = "这家伙很懒，什么都没写") }}</p>
				<p class='lh22'>最近登录时间：{{ user.last_login_time | time_passed }}</p>
				">{{ user.nickname }}</a>
			</p>
			<p class="clc">{{ _('shard_%(num)s_pastes', num=user.paste_num) }}</p>
		</div>
		<div class="pull-right">
			{% if user.is_user_followed %}
				<a href="javascript:void(0);" class="btn btn-sm paste-user-unfollow user-follow" data-id="{{ user.id }}">{{ _('unfocus') }}</a>
			{% else %}
				<a href="javascript:void(0);" class="btn btn-sm btn-success paste-user-follow user-follow" data-id="{{ user.id }}">{{ _('focus') }}</a>
			{% endif %}
		</div>
	</div>
</div>
