{% extends theme('default/base.html') %}
{% block title %}{{ g.model.nickname }}{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
	$('.show-desc-link').toggle(function() {
		$(this).parents('li').find('.well').show();
		$(this).html('隐藏描述');
	}, function() {
		$(this).parents('li').find('.well').hide();
		$(this).html('显示描述');
	});
});
</script>
{% endblock %}
{% block content %}
<table class="table">
	<thead>
		<tr><td>最新添加的代码</td></tr>
	</thead>
	<tbody>
	{% for paste in g.model.pastes %}
		<tr><td>
		{% include theme('default/items/_paste_item.html') %}
		</td></tr>
	{% endfor %}
	</tbody>
</table>
<table class="table">
	<thead>
		<tr><td>最新收藏的代码</td></tr>
	</thead>
	<tbody>
	{% for paste in g.model.pastes %}
		<tr><td>
		{% include theme('default/items/_paste_item.html') %}
		</td></tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block sidebar %}
	<div class="row"><a href="{{ url_for('userview.rss', user_id=g.model.id) }}"><img src="/static/images/rss.png" /><span>订阅Ta的代码</span></a></div>
	<div class="bd3 bd1s mt65 pt10 pb10 mb18">
		<p class="alc">
			<img src="{{ g.model.get_avatar_url(150) }}" />
		</p>
		<p class="fwb alc fs20">{{ g.model.nickname }}</p>
		<p class="lh24 pl10 pr10 mt10">{{ g.model.info.motoo | empty(text="这个家伙没有签名") }}</p>
		<p class="lh24 pl10 pr10">{{ g.model.info.introduction | empty(text="这个家伙很懒, 什么都没写") }}</p>
	</div>
	{% if g.user.id != g.model.id %}
	<div class="row">
		{% if g.model.is_user_followed %}
			<div class="btn follow btn-large" id="unfollow" object_id="{{ g.model.id }}">
				<span class="plus"></span> <strong>取消关注</strong>
			</div>
		{% else %}
			<div class="btn follow btn-success btn-large" id="follow" object_id="{{ g.model.id }}">
				<span class="plus"></span> <strong>关注</strong>
			</div>
		{% endif %}
	</div>
	{% endif %}

	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<td>关注的用户</td>
				</tr>
			</thead>
			<tbody>
			{% for user in g.model.followed_users %}
			<tr>
				<td>
				{% include theme('default/items/_user.html') %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<td>关注{{ g.model.nickname }}的用户</td>
				</tr>
			</thead>
			<tbody>
			{% for user in g.model.followers %}
			<tr>
				<td>
				{% include theme('default/items/_user.html') %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="unfollow-modal" class="modal hide fade">
		<form action="" method="POST">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>提醒</h3>
			</div>
			<div class="modal-body alc">
				真的要取消关注吗？
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-primary" value="确定" />
				<input type="button" onclick="javascript: $('#unfollow-modal').modal('hide');" class="btn" value="取消" />
			</div>
		</form>
	</div>
{% endblock %}
