{% extends theme('default/base.html') %}
{% block title %}{{ _('index') }}{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
	$('.nav:eq(0)').find('li:eq(0)').addClass('active');
});
</script>
{% endblock %}
{% block content %}
<h3>{{ _('newest_pastes') }}</h3>
	{% for paste in g.new_pastes %}
		{% include theme('default/items/_paste_item.html') %}
	{% endfor %}
	<div class="row col-md-12 pt15 pb15">
		<button class="btn btn-default btn-block" id="more_button" _page="2">{{ _('more') }}</button>
	</div>
{% endblock %}
{% block sidebar %}
{% include theme('default/_newest_users.html') %}
{% include theme('default/_top_tags.html') %}
{% endblock %}
