{% extends theme('default/base.html') %}
{% block title %}{{ _('index') }}{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
	$('.nav:eq(0)').find('li:eq(0)').addClass('active');
});
</script>
{% endblock %}
{% block content %}
<table class="table">
	<thead>
		<tr><td>{{ _('newest_pastes') }}</td></tr>
	</thead>
	<tbody>
	{% for paste in g.new_pastes %}
		<tr><td>
		{% include theme('default/items/_paste_item.html') %}
		</td></tr>
	{% endfor %}
	</tbody>
</table>
<div class="row col-md-12">
	<button class="btn btn-default btn-block" id="more_button" _page="2">{{ _('more') }}</button>
</div>
{% endblock %}
{% block sidebar %}
{% include theme('default/_newest_users.html') %}
{% include theme('default/_top_tags.html') %}
{% endblock %}
