{% extends theme('default/base.html') %}
{% block title %}首页{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
	$('.nav:eq(0)').find('li:eq(0)').addClass('active');
});
</script>
{% endblock %}
{% block content %}
{% for paste in g.new_pastes %}
	{% include theme('default/items/_paste_item.html') %}
{% endfor %}
<button class="btn btn-default btn-block" id="more_button" _page="2">更多</button>
{% endblock %}
{% block sidebar %}
{% include theme('default/_share_btn.html') %}
{% include theme('default/_newest_users.html') %}
{% include theme('default/_top_tags.html') %}
{% endblock %}
