#-*-coding:utf-8-*-
# debug
DEBUG = True

# error_log
ERROR_LOG = 'error.log'

# used for session
SECRET_KEY = 'sdaghasdhsdh2346234uyqahg'
PERMANENT_SESSION_LIFETIME = 30 * 24 * 60 * 60

# application side settings
SIDEBAR_PAGE_SIZE = 10
PAGE_SIZE = 20
TITLE = u'代码段'

# database settings
SQLALCHEMY_DATABASE_URI = 'sqlite:///test.db'

# CSS file
DEFAULT_SYNTAX_CSS_FILE = '/static/css/themes/monokai.css'

# Theme
THEME_PATHS = 'themes'
THEME = 'default'
