<div class="row">
	{% if g.model.is_user_followed %}
		<div class="btn follow btn-danger" id="unfollow" object_id="{{ g.model.id }}">
			<span class="plus"></span>
			<strong>{{ _('unfollow') }}</strong>
		</div>
	{% else %}
		<div  class="btn follow btn-success" id="follow" object_id="{{ g.model.id }}">
			<span class="plus"></span>
			<strong>{{ _('follow') }}</strong>
		</div>
	{% endif %}

</div>
<div class="row">
	<h4>{{ _('focus_%(name)s_users', name=g.model.name) }}</span>
	{% for user in g.model.followers %}
		{% include theme('default/items/_user.html') %}
	{% endfor %}
</div>
{% include theme('default/_top_tags.html') %}
