<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="代码段是一个优秀的代码分享平台, 用户可以在代码段上分享自己的代码, 查看别人优秀的代码, 甚至收藏别人的代码, 打造一个属于自己的代码库">
		<meta name="keywords" content="代码, 开发, 平台, 分享">
		<title>{% block title %}{% endblock %} - 代码段</title>
		<link rel="shortcut icon" href="/static/images/favicon.ico') }}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ theme_static('css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ theme_static('css/styles.css') }}">
		<link rel="stylesheet" type="text/css" media="all" href="{% block syntax_css_file %}{{ theme_static('css/themes/monokai.css') }}{% endblock %}">
		<script src="{{ theme_static('js/jquery-1.7.2.min.js') }}" type="text/javascript"></script>
		<script src="{{ theme_static('js/jquery.tmpl.min.js') }}" type="text/javascript"></script>
		<script src="{{ theme_static('js/bootstrap-dropdown.js') }}" type="text/javascript"></script>
		<script src="{{ theme_static('js/bootstrap-alert.js') }}" type="text/javascript"></script>
		<script src="{{ theme_static('js/bootstrap-modal.js') }}" type="text/javascript"></script>
		<script src="{{ theme_static('js/bootstrap-tooltip.js') }}" type="text/javascript"></script>
		<script src="{{ theme_static('js/bootstrap-popover.js') }}" type="text/javascript"></script>
		<script src="{{ theme_static('js/rater-star/rater-star.js') }}" type="text/javascript"></script>
		<script src="{{ theme_static('js/daimaduan.js') }}" type="text/javascript"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33503286-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% block javascript %}{% endblock %}
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a href="/" class="brand">代码段<span class="fs14 ml5">v1.1</span></a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="/">首页</a></li>
							<li><a href="{{ url_for('tagview.list') }}">标签</a></li>
							<li><a href="{{ url_for('rankview.rank') }}">排行榜</a></li>
						</ul>
						<form action="{{ url_for('siteview.search') }}" class="navbar-search pull-left clearfix">
							<!--<input type="text" name="keyword" placeholder="Search" class="search-query lf" value="{{ g.keyword }}" />-->
							<input type="text" name="keyword" placeholder="Search" class="lf" value="{{ g.keyword }}" />
							<input type="submit" value="" class="search-btn rt" title="Search" />
						</form>
						<ul class="nav pull-right login-nav">
						{% if g.user %}
							<li class="dropdown">
								<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">
									<img src="{{ g.user.get_avatar_url() }}" class="lf" />
									{{ g.user.nickname }}{% if g.user.unread_messages %} ({{ g.user.unread_messages | length }}){% endif %}
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ url_for('userview.view', user_id=session['user']) }}"><i class="icon-user"></i> 主页</a>
									</li>
									<li><a href="{{ url_for('siteview.messages') }}"><i class="icon-envelope"></i> 系统消息{% if g.user.unread_messages %} ({{ g.user.unread_messages | length }}){% endif %}</a></li>
									<li><a href="{{ url_for('userview.manage') }}"><i class="icon-cog"></i> 设置</a></li>
									{% if g.user.check_privilege(5) %}
										<li><a href="{{ url_for('adminview.index') }}">管理页面</a></li>
									{% endif %}
									<li class="divider"></li>
									<li><a href="{{ url_for('userview.logout') }}"><i class="icon-off"></i> 登出</a></li>
								</ul>
							</li>
						{% else %}
							<li><a class="register-ico" href="{{ url_for('userview.register') }}">注册</a></li>
							<li><a href="{{ url_for('userview.login') }}">登录</a></li>
						{% endif %}
						</ul>
					</div><!-- /.nav-collapse -->
				</div>
				{% block flash_messages %}
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							<ul class="w1000">{% for category, message in messages %}
								<li class="alert alert-{{ category }}">
									<button class="close" data-dismiss="alert" href="#">&times;</button>
									{{ message }}
								</li>
							</ul>{% endfor %}
						{% endif %}
					{% endwith %}
				{% endblock %}
			</div><!-- /navbar-inner -->
		</div>
		<div id="center-block">
			<div id="container" class="container">
				<div id="wrviewer" class="lf w698">{% block content %}{% endblock %}</div>
				<div id="sidebar" class="rt w272">{% block sidebar %}{% endblock %}</div>
			</div>
		</div>
		<div id="footer">
			<p class="flink container clearfix">
				<span class="lf">
					© 2011 - 2012 <a href="/">daimaduan.com</a> All right reserved.
				</span>
				<span class="rt">
					<a href="{{ url_for('siteview.posts') }}">开发日志</a> | 
					<a href="{{ url_for('siteview.rss') }}">订阅本站</a> | 
					<a href="{{ url_for('siteview.page', slug='faq') }}">FAQ</a> | 
					<a href="{{ url_for('siteview.page', slug='about') }}">关于我们</a> | 
					<a href="{{ url_for('siteview.page', slug='contact') }}">联系我们</a>
				</span>
			</p>
		</div>
		<a style="display: block;" href="javascript: void(0);" class="return-top-link" title="返回顶部">
		  <img src="/_themes/default/images/return-top.png" alt="top">
		</a>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.dropdown-toggle').dropdown();
				//当点击跳转链接后，回到页面顶部位置
				$(".return-top-link").click(function(){
					$('body,html').animate({scrollTop:0},1000);
					return false;
				});
			});
		</script>
	</body>
</html>
